.specialPickupList {
    flex: 6;
    padding: 40px;
    padding-bottom: 20px;
    background-color: #f8f9fa;
}

.pageHeading {
    font-size: 30px;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
}

.breadcrumb {
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 30px;
    padding: 0
}

.active {
    color: #6c757d;
}

.main {
    color: #333;
}
  
.pickupListUser {
    display: flex;
    align-items: center;
}

.pickupListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.pickupListEdit {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 5px;
    width: 60px;
    margin-left: 5px;
}

.button {
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
}

.button.Accepted{
    background-color: #e5faf2;
    color: #3bb077;
}

.button.Completed{
    background-color: #cbdcdf;
    color: #3960e0;
}

.button.Pending{
    background-color: rgba(239, 241, 207, 0.644);
    color: #e2d559;
}

.button.Cancelled{
    background-color: #b3922f65;
    color: #fb440d;
}

.button.Active{
    background-color: #cbdcdf;
    color: #19e850;
}

.pickupListCancel {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #f04441;
    color: white;
    cursor: pointer;
    margin-right: 5px;
    width: 60px;
    margin-left: 5px;
}